In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kaitangata,NZ,2022-02-15 21:51:12,-46.2817,169.8464,60.93,67,93,7.00
1,1,Barrow,US,2022-02-15 21:51:12,71.2906,-156.7887,-30.98,100,0,10.36
2,2,Andenes,NO,2022-02-15 21:51:13,69.3143,16.1194,28.38,59,0,18.41
3,3,Kodiak,US,2022-02-15 21:46:19,57.7900,-152.4072,40.51,87,20,0.00
4,4,Albany,US,2022-02-15 21:50:12,42.6001,-73.9662,27.45,55,93,6.58

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Butaritari,KI,2022-02-15 21:51:13,3.0707,172.7902,81.88,74,44,15.97
8,8,Yaan,NG,2022-02-15 21:51:15,7.3833,8.5667,84.79,12,53,1.95
15,15,Vaini,TO,2022-02-15 21:51:17,-21.2000,-175.2000,84.36,74,20,6.91
18,18,Elmina,GH,2022-02-15 21:51:19,5.0898,-1.3480,80.17,88,77,11.05
19,19,Tiarei,PF,2022-02-15 21:51:19,-17.5333,-149.3333,84.22,73,30,13.56
21,21,Carnarvon,AU,2022-02-15 21:51:20,-24.8667,113.6333,78.87,61,3,9.22
24,24,Atuona,PF,2022-02-15 21:51:21,-9.8000,-139.0333,78.06,74,6,15.23
26,26,El Limon,VE,2022-02-15 21:51:22,10.3059,-67.6321,88.92,71,97,7.81
27,27,Labuhan,ID,2022-02-15 21:51:22,-6.8844,112.2051,75.83,90,94,7.61
28,28,Puerto Ayora,EC,2022-02-15 21:51:23,-0.7393,-90.3518,85.96,87,90,8.99

In [13]:
preferred_cities_df.count()

City_ID       144
City          144
Country       144
Date          144
Lat           144
Lng           144
Max Temp      144
Humidity      144
Cloudiness    144
Wind Speed    144
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
5     Butaritari      KI     81.88   3.0707  172.7902
8           Yaan      NG     84.79   7.3833    8.5667
15         Vaini      TO     84.36 -21.2000 -175.2000
18        Elmina      GH     80.17   5.0898   -1.3480
19        Tiarei      PF     84.22 -17.5333 -149.3333
21     Carnarvon      AU     78.87 -24.8667  113.6333
24        Atuona      PF     78.06  -9.8000 -139.0333
26      El Limon      VE     88.92  10.3059  -67.6321
27       Labuhan      ID     75.83  -6.8844  112.2051
28  Puerto Ayora      EC     85.96  -0.7393  -90.3518

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Butaritari,KI,81.88,3.0707,172.7902,Isles Sunset Lodge
8,Yaan,NG,84.79,7.3833,8.5667,
15,Vaini,TO,84.36,-21.2000,-175.2000,Keleti Beach Resort
18,Elmina,GH,80.17,5.0898,-1.3480,Esteem Kofi and Adjoa Guesthouse
19,Tiarei,PF,84.22,-17.5333,-149.3333,Le Rocher de Tahiti
...,...,...,...,...,...,...
527,Acari,PE,76.93,-15.4311,-74.6158,HOSPEDAJE XIMENA
535,Banjar,ID,80.46,-8.1900,114.9675,The Hamsa Resort
536,Tarakan,ID,77.52,3.3000,117.6333,RedDoorz Syariah near Taman Berlabuh Tarakan
537,The Valley,AI,79.11,18.2170,-63.0578,CeBlue Villas & Beach Resort
538,Ahuimanu,US,77.86,21.4447,-157.8378,Paradise Bay Resort

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [27]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))